<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jiyun.mapper.StuMapper">
	<resultMap id="BaseMap" type="Student" >
		<id column="sid" property="sid"/>
		<result column="sname" property="sname"/>
		<result column="sex" property="sex"/>
		<result column="pic" property="pic"/>
		<result column="birthday" property="birthday"/>
		<result column="cid" property="cid"/>
		<association property="clazz" javaType="Clazz">
			<id column="cid" property="cid"/>
		<result column="cname" property="cname"/>
		</association>
	</resultMap>
	<select id="findAll" resultMap="BaseMap">
		select *  from `student` a,`class` b where a.`cid` = b.`cid`
	</select>
	
	
	
	<select id="findClazz" resultType="Clazz">
		select * from class
	</select>
	
	
	
	
	<insert id="addStu" parameterType="Student">
		insert into student value(null,#{sname},#{sex},null,#{birthday},#{cid})
	</insert>
	
	
	<update id="updateStu" parameterType="Student">
		update student set sname=#{sname},sex = #{sex},birthday = #{birthday},cid = #{cid} where sid = #{sid}
	</update>
	
	
	<delete id="delStu">
		delete from student
		<where>
			<foreach collection="array" open="sid in(" close=")"
				item="sid" separator=",">
				#{sid}
			</foreach>
		</where>
	</delete>
	
	
	
	
</mapper>